@font-face { font-family: "Alpha54"; src: url("../fonts/Alpha54.ttf");}
@font-face { font-family: "Amazonas"; src: url("../fonts/Amazonas.ttf");}
@font-face { font-family: "Antonio-Bold"; src: url("../fonts/Antonio-Bold.ttf");}
@font-face { font-family: "Antonio-Light"; src: url("../fonts/Antonio-Light.ttf");}
@font-face { font-family: "ApolloASM"; src: url("../fonts/ApolloASM.ttf");}
@font-face { font-family: "Arizonia-Regular"; src: url("../fonts/Arizonia-Regular.ttf");}
@font-face { font-family: "Beon"; src: url("../fonts/Beon.otf");}
@font-face { font-family: "BetsyFlanagan"; src: url("../fonts/BetsyFlanagan.ttf");}
@font-face { font-family: "Blazed"; src: url("../fonts/Blazed.ttf");}
@font-face { font-family: "Blox2"; src: url("../fonts/Blox2.ttf");}
@font-face { font-family: "BroadcastTitling"; src: url("../fonts/BroadcastTitling.ttf");}
@font-face { font-family: "CAT-Arena"; src: url("../fonts/CAT-Arena.ttf");}
@font-face { font-family: "chintzys"; src: url("../fonts/chintzys.ttf");}
@font-face { font-family: "chintzy"; src: url("../fonts/chintzy.ttf");}
@font-face { font-family: "Cunia"; src: url("../fonts/Cunia.ttf");}
@font-face { font-family: "Dodgv2c"; src: url("../fonts/Dodgv2c.ttf");}
@font-face { font-family: "Dodgv2s"; src: url("../fonts/Dodgv2s.ttf");}
@font-face { font-family: "Duo-Dunkel"; src: url("../fonts/Duo-Dunkel.ttf");}
@font-face { font-family: "Duo-Licht"; src: url("../fonts/Duo-Licht.ttf");}
@font-face { font-family: "DustyHotels"; src: url("../fonts/DustyHotels.ttf");}
@font-face { font-family: "engry"; src: url("../fonts/engry.otf");}
@font-face { font-family: "ERECTLL_"; src: url("../fonts/ERECTLL_.ttf");}
@font-face { font-family: "ERECTLR_"; src: url("../fonts/ERECTLR_.ttf");}
@font-face { font-family: "ERECTL__"; src: url("../fonts/ERECTL__.ttf");}
@font-face { font-family: "Ewert-Regular"; src: url("../fonts/Ewert-Regular.ttf");}
@font-face { font-family: "Facon"; src: url("../fonts/Facon.ttf");}
@font-face { font-family: "FrakturShadowed"; src: url("../fonts/FrakturShadowed.ttf");}
@font-face { font-family: "FreeMonoBold"; src: url("../fonts/FreeMonoBold.otf");}
@font-face { font-family: "FreeMono"; src: url("../fonts/FreeMono.otf");}
@font-face { font-family: "FreeSerifBoldItalic"; src: url("../fonts/FreeSerifBoldItalic.otf");}
@font-face { font-family: "FreeSerifBold"; src: url("../fonts/FreeSerifBold.otf");}
@font-face { font-family: "FreeSerifItalic"; src: url("../fonts/FreeSerifItalic.otf");}
@font-face { font-family: "FreeSerif"; src: url("../fonts/FreeSerif.otf");}
@font-face { font-family: "GreatVibes-Regular"; src: url("../fonts/GreatVibes-Regular.otf");}
@font-face { font-family: "Gruppo-Regular"; src: url("../fonts/Gruppo-Regular.ttf");}
@font-face { font-family: "happy-times-at-the-ikob_italic"; src: url("../fonts/happy-times-at-the-ikob_italic.otf");}
@font-face { font-family: "happy-times-at-the-ikob"; src: url("../fonts/happy-times-at-the-ikob.otf");}
@font-face { font-family: "Langdon"; src: url("../fonts/Langdon.otf");}
@font-face { font-family: "LoversQuarrel-Regular"; src: url("../fonts/LoversQuarrel-Regular.ttf");}
@font-face { font-family: "MODERNA_"; src: url("../fonts/MODERNA_.TTF");}
@font-face { font-family: "Montague"; src: url("../fonts/Montague.ttf");}
@font-face { font-family: "Niconne-Regular"; src: url("../fonts/Niconne-Regular.ttf");}
@font-face { font-family: "Octarine-BoldOblique"; src: url("../fonts/Octarine-BoldOblique.otf");}
@font-face { font-family: "Octarine-Bold"; src: url("../fonts/Octarine-Bold.otf");}
@font-face { font-family: "Octarine-LightOblique"; src: url("../fonts/Octarine-LightOblique.otf");}
@font-face { font-family: "Octarine-Light"; src: url("../fonts/Octarine-Light.otf");}
@font-face { font-family: "Potra"; src: url("../fonts/Potra.ttf");}
@font-face { font-family: "propaniac"; src: url("../fonts/propaniac.ttf");}
@font-face { font-family: "RacingSansOne-Regular"; src: url("../fonts/RacingSansOne-Regular.ttf");}
@font-face { font-family: "Reey-Regular"; src: url("../fonts/Reey-Regular.otf");}
@font-face { font-family: "SCRIPTIN"; src: url("../fonts/SCRIPTIN.ttf");}
@font-face { font-family: "SHADSER"; src: url("../fonts/SHADSER.TTF");}
@font-face { font-family: "TextMeOne-Regular"; src: url("../fonts/TextMeOne-Regular.ttf");}
@font-face { font-family: "Tonight"; src: url("../fonts/Tonight.ttf");}
@font-face { font-family: "Trickster-Reg"; src: url("../fonts/Trickster-Reg.ttf");}
@font-face { font-family: "WELTP___"; src: url("../fonts/WELTP___.TTF");}
@font-face { font-family: "WELTRON2"; src: url("../fonts/WELTRON2.TTF");}
@font-face { font-family: "WELTSP__"; src: url("../fonts/WELTSP__.TTF");}
@font-face { font-family: "WELTU___"; src: url("../fonts/WELTU___.TTF");}
@font-face { font-family: "Xanax___"; src: url("../fonts/Xanax___.ttf");}
@font-face { font-family: "Xenogears"; src: url("../fonts/Xenogears.ttf");}
@font-face { font-family: "xtrusion"; src: url("../fonts/xtrusion.ttf");}
