body {
    font: 16px/1.5 arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* background: #FFF url('./imgbody/start.jpg'); */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dark-block {
    background-color: #35424A;
    color: #FFFFFF;
    padding: 10px;
}

/* Header */
header {
    background-color: #35424A;
    color: #FFFFFF;
    border-bottom: 3px solid #E8491D;
    padding-top: 30px;
    min-height: 70px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}
header a:hover {
    color: #CCCCCC;
}

header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 15px;
}

header .highlight, header .current a {
    color: #E8491D;
    font-weight: bold;
}


/* ShowCase */
#showcase {
    min-height: 650px;
    background: #FFF url('./imgbody/elinv1.jpg') no-repeat center center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

#showcase h1 {
    margin: 100px 0 10px 0;
    font-size: 55px;
}
#showcase p {
    font-size: 20px;
}


/* NewsLetter */
#newsletter {
    padding: 15px;
    background-color: #35424A;
    color: #FFFFFF;
}
#newsletter h1 {
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 20px
}
#newsletter input[type='email'] {
    border: none;
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 5px 0 0 5px;
}
#newsletter button[type='submit'] {
    background-color: #E8491D;
    color: #FFFFFF;
    border: none;
    height: 36px;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
}
#newsletter button[type='submit']:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Boxes */
#boxes {
    padding-top: 30px;
    padding-bottom: 30px;
}
#boxes .box {
    width: 10%;
    height: 150px;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top: 0.3em;
    text-align: center;
    transition: border 400ms;
    border: 1px solid rgb(215, 204, 204);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);    
}
#boxes .box:hover {
    border: 1px solid rgba(0,0,0,0.16);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
#boxes img {
    width: 48px;
    height: auto;
}


/* Main-Col (Artical) */
main {
    padding-top: 20px;
}
artical#main-col {
    width: 65%;
    float: left;
    padding: 10px;
    border: 1px solid #EEE;
    box-sizing: border-box;
}


/* Sidebar */
aside#sidebar {
    border: 1px solid #EEE;
    box-sizing: border-box;
    float: right;
    width: 30%;
    padding: 10px;
}
aside#sidebar .widget {
    margin-top: 10px;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
aside#sidebar .widget:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}


/* Footer */
footer {
    background-color: #E8491D;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    header,
    header #branding,
    header nav,
    header li,
    #newsletter h1,
    #newsletter form,
    #newsletter input,
    #boxes .box,
    artical#main-col,
    aside#sidebar {
        text-align: center;
        float: none;
        display: block;
        width: 100%;
    }
    header {
        padding-bottom: 15px;
    }
    header li {
        margin: 10px 0;
    }
    #showcase h1 {
        margin-top: 20px
    }
    #newsletter input[type="email"], #newsletter button[type='submit'] {
        width: 100%;
        margin: 0 0 15px 0;
        border-radius: 0;        
    }
    #boxes .box {
        margin: 5px;
    }
}