/* Css Contenedor global */
/* ------------------------------------------- */
.container {
    display: grid;
    /* display: inline-grid; */
    /* width: 100%;
    max-width: 1000px; */
    /* grid-template-columns: auto-fit, minmax(min(200px, 50%), 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
    grid-template-columns: auto-fit, minmax(min(100px, 50%), 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);  */

    /* grid-template-columns: auto auto 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: auto auto 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    padding: 0.1em;
    /* border: 1.5px solid rgb(255, 64, 0);     */
    grid-template-areas:
        "controlAudio controlAudio srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        "lineaActual lineaActual srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        "buttCapturar buttCapturar srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        /* "masAction masAction srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        "masAction masAction srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        "masAction masAction srtNew srtNew subtitulos subtitulos arraySubTit arraySubTit"
        "pieBordeIzq piePagina piePagina piePagina piePagina piePagina piePagina pieBordeDer"; */
}

/* Css Contenedor global */
/* ------------------------------------------- */


/* Css Panel De Control */
/* ------------------------------------------- */
.controlAudio {
    grid-area: controlAudio;
    padding: 0.1em;
    /* border: 1.5px solid rgb(255, 64, 0);     */
}

/* .naranja {
    border: 1px solid rgb(205, 120, 9);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
} */

.naranja {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.naranja:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.naranja:active {
    position: relative;
    top: 1px;
}

/* Css Panel De Control */
/* ------------------------------------------- */

/* Textarea construcción del srt final  */
/* ------------------------------------------- */

.srtNew {
    grid-area: srtNew;
    padding: 10px;
    margin-top: 1.4em;

}

.subtitulos {
    grid-area: subtitulos;
    padding: 10px;
    margin-top: 1.4em;    
}

.arraySubTit {
    grid-area: arraySubTit;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    margin-top: 1.4em;    
}

/* ------------------------------------------- */
/* Textarea construcción del srt final  */


/* Info timer momento actual del video o audio */
/* ------------------------------------------- */
.lineaActual {
    grid-area: lineaActual;
    margin-top: 0px;
    padding: 0.1em;
    /* border: 1.5px solid rgb(255, 64, 0); */
}

.rojo {
    margin-bottom: 10px;
    border: 1px solid rgb(205, 9, 9);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

/* ------------------------------------------- */
/* Info timer momento actual del video o audio */


.buttCapturar {
    grid-area: buttCapturar;
}

.masAction {
    grid-area: masAction;
}

.piePagina {
    grid-area: piePagina;
}

.pieBordeDer {
    grid-area: pieBordeDer;
}

.pieBordeIzq {
    grid-area: pieBordeIzq;
}


/* Css general de la web */
/* ------------------------------------------- */
html,
body,
.container {
    height: 100%;
    margin: 0.2em;
}

body {
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
}

.container {
    /* border: 1px solid rgb(9, 78, 205); */
    position: relative;
}

.container *:after {
    /* content: attr(class); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Css general de la web */
/* ------------------------------------------- */



/* Css textos y contenedores */
/* ------------------------------------------- */
.rojo:hover {
    -webkit-box-shadow: 2px 2px 10px 4px #2E33D9;
    box-shadow: 2px 2px 10px 4px #2E33D9;
}

.verde {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.digTime {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.butSpeed {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /* border: 1.5px solid rgb(255, 64, 0); */
}

/* Css textos y contenedores */
/* ------------------------------------------- */


/* Video css y font y estilo .subtitulos VTT  */
video {
    max-width: 100%;
    height: auto;
    border: 9px solid #333;
    border-radius: 18px;
}

video::-webkit-media-text-track-display {
    font-size: 1.8em;
    background-color: transparent;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 3px 5px #474444;
}

::cue {
    font-size: 1.8em;
    background-color: transparent;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 3px 5px #474444;
}

/* Video css y font y estilo .subtitulos VTT  */


/* Clase botones  */
.myBut {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 1.0em;
    font-weight: bold;
    padding: 6px 24px;
    margin-bottom: 0.1em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myBut:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.myBut:active {
    position: relative;
    top: 1px;
}


/* Boton blue  */
.myButBlue {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #0062ff 100%);
    background-color: #3d94f6;
    border-radius: 9px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 24px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #1570cd;
}

.myButBlue:hover {
    background: linear-gradient(to bottom, #0062ff 5%, #3d94f6 100%);
    background-color: #0062ff;
}

.myButBlue:active {
    position: relative;
    top: 1px;
}

/* Clase botones  */


/* Tooltips guia ayuda */
.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.tooltip .top {
    min-width: 350px;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #444444;
    background-color: #EEEEEE;
    font-weight: normal;
    font-size: 1.5em;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltipOut:hover .top {
    display: block;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.tooltip .top i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 28px;
    overflow: hidden;
}

.tooltip .top i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.ttHelpPlayer {
    left: -4.5em;
    top: 3em;
}

/* Influir movil landscape  */
#aviso-movil-horizontal {
    display: none;
}

@media only screen and (orientation:portrait) {
    #wrapper {
        display: none;
    }

    #aviso-movil-horizontal {
        display: block;
    }
}

@media only screen and (orientation:landscape) {
    #aviso-movil-horizontal {
        display: none;
    }
    #wrapper {
        width: 1980px;
    }
}
/* Influir movil landscape  */